.registerForm{
  width: fit-content;
  min-width: 300px;
  height: fit-content;
  margin: 0 auto;
  padding: 15px;
  margin-top: 150px;
}

.registerFormWrap{
  display: flex;
  flex-direction: column;
}

.registerFormField{
  margin-bottom: 15px !important;
}

.registerFormTitle{
  margin-bottom: 15px !important; 
}

.registerFormContainer{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 100%;
}

.registerFormActions{
  justify-content: space-between;
  padding: 15px 30px !important;
}