.musicContainer{
  padding: 10px;
}

.musicList{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.musicContainerNav{
  padding: 10px;
}

.musicContainerNavItem{
  margin-right: 15px !important;
}


.musicDragContainer{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100%;
}

.musicDragContainerContent{
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed;
}

.musicItem{
  width: 33.3333%;
  padding: 10px;
  box-sizing: border-box;
}

.root{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.playListMedia{
  height: 100%;
  min-height: 180px;
}

.playListInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  height: 100%;
  background: rgba(255, 255, 255, .3);
}

.playListCount{
  color: #fff;
}
.playListIcon{
  width: 30px !important;
  height: 30px !important;
  color: #fff;
}

.details{
  display: flex;
  flex-direction: column;
  width: 70%;
}
.content {
  flex: 1 0 auto;
}
.cover {
  width: 30%;
}
.controls {
  display: flex;
  align-items: center;
}
.playIcon {
  height: 38px;
  width: 38px;
}

.inputUploadFile{
  display: none;
}

.inputUploadBtn{
  margin-right: 10px;
}

.formControl{
  width: 120px !important;
}


