.usersContainer{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.userItem{
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
}

.userItemWrap{
  transition: all .3s ease-in-out;
}

.userItemWrap:hover{
  box-shadow: 0px 10px 10px 3px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}



.userItem a{
  text-decoration: none;
}

.usersImg {
  max-width: 200px;
  height: auto;
}
