.App_header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  -webkit-box-shadow: 9px 2px 15px -1px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: 9px 2px 15px -1px rgba(34, 60, 80, 0.3);
  box-shadow: 9px 2px 15px -1px rgba(34, 60, 80, 0.3);
}

.logo{
  margin-left: 30px;
}

.loginBlock{
  margin-right: 20px;
}

.loginLink{
  margin-right: 10px;
 
}

.userInfoItem{
  /* color: #fff !important; */
  margin-right: 10px !important;
  cursor: pointer;
}

.loginLink button{
  /* color: #fff !important; */
}

.App_header img {
  max-width: 140px;
  max-height: 75%;
}

.userInfo{
  display: flex;
  align-items: center;
}
